@{
    ViewBag.Title = "Home Page";
}
@*@Html.Partial("_JumboTronPartial")*@
@Html.Partial("_CarouselPartial")
<div class="container body-content">
    @Html.Partial("_KnowledgeBasePartial")
    <hr class="mt-3 mb-4" />
    @Html.Partial("_GettingStartedPartial")
</div>
@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/knowledgeBase")
