@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_JumboTronPartial")
<div class="container body-content">
    @Html.Partial("_KnowledgeBasePartial")
    @Html.Partial("_GettingStartedPartial")
</div>
@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/phoneList")
