@{
    /**/

    ViewBag.Title = "Home Page";
}


@*@Html.Partial("_JumboTronPartial")*@

@Html.Partial("_CarouselPartial")

<div class="container body-content">
    
    @Html.Partial("_KnowledgeBasePartial")
    
    <hr class="mt-3 mb-4 animated fadeIn slower delay-5s" />
    
    @Html.Partial("_GettingStartedPartial")

</div>

@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/carousel")
@Scripts.Render("~/bundles/knowledgeBase")
